<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project 4</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  <div class="container">
  <h2 class="joke-viewer-header">Joke Viewer:</h2>
    <div class="joke-viewer">
      <%if (locals.error) {%>
      <p class="error-message">
        <%=error%>
      </p>
      <%}%>
        <%if (joke.setup) {%>

        <p class="joke-setup">
          <%= joke.setup %>
        </p>
        <p class="joke-delivery" id="jokeDelivery">
          <%= joke.delivery%>
        </p>

          <%}else%>
        <p>
          <%= joke.joke%>
        </p>
      <form action="get-custom-joke" method="POST">
        <select name="category" class="form-select" multiple>
          <option value="Programming">Programming</option>
          <option value="Miscellaneous">Misc</option>
          <option value="Dark">Dark</option>
          <option value="Pun">Pun</option>
          <option value="Spooky">Spooky</option>
          <option value="Christmas">Christmas</option>
        </select>

        <select name="flags" class="form-select" multiple>
          <option value="nsfw">NSFW</option>
          <option value="religious">Religious</option>
          <option value="political">Political</option> 
          <option value="racist">Racist</option>
          <option value="sexist">Sexist</option>
          <option value="explicit">Explicit</option>
        </select>
        <button type="submit" class="joke-button">
          Get your custom joke!
        </button>
      </form>

      <form action="get-any-joke" method="POST">
        <button type="sbmit" class="joke-button">
          Get Any Joke!
        </button>
      </form>
      </div>
    </div>
  </div>
</body>
</html>