<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project 4</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <div class="container">
      <h2>Joke Viewer:</h2>
      <div class="joke-card" id="jokeCard">
        <h3 class="joke-setup">
          <%= joke.setup %>
        </h3>
        <p class="joke-delivery" id="jokeDelivery">
          <%= joke.delivery%>
        </p>
      <form method="POST">
        <button class="joke-button" id="getJokeBtn">
          Get a new joke
        </button>
      </form>
      </div>
    </div>
</body>
</html>
