<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project 4</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  <div class="container">
  <h2 class="joke-viewer-header">Joke Viewer:</h2>
    <div class="joke-viewer">
          <%if (joke.setup) {%>
        <p class="joke-setup">
          <%= joke.setup %>
        </p>
        <p class="joke-delivery" id="jokeDelivery">
          <%= joke.delivery%>
        </p>
          <%}else%>
        <p>
          <%= joke.joke%>
        </p>

      <form action="/get-good-joke" method="POST">
        <button class="good-joke-button">
          Get a good joke
        </button>
      </form>
      <form action="/get-any-joke" method="POST">
        <button class="any-joke-button">
          Get any joke
        </button>
      </form>
      </div>
    </div>
  </div>
</body>
</html>