/* body{
    background-color: rgb(32, 32, 32);
    height: 100%;
}

.container{
    color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}
.joke-viewer-header{
    color: rgb(230, 230, 230);
    width: 100%;
    margin-bottom: 40px;

}
.joke-viewer{
    color: rgb(230, 230, 230);
    background-color: black;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
} */

.joke-setup{

}

.joke-delivery{
    
}

button {
    color: rgb(0, 0, 0);
}