

body {
  margin: 0;
  height: 100vh; /* Make body take full height of viewport */
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  background-color: #f0f0f0; /* Background color */
}

.container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.joke-viewer-header {
  text-align: center;
  margin-bottom: 20px;
}

.joke-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.joke-setup,
.joke-delivery,
.error-message {
  margin-bottom: 10px;
}

.joke-button {
    margin-top: 10px;
  }